<div class='container my-3'>
  <div class='row '>
    <div class='col-2'>
    </div>
    <div class='col-8 bg-purple ticket rounded-lg text-center'>
      <h1 class='text-warning'>Editing User</h1>
    </div>
    <div class='col-2'>
    </div>
  </div>
  <div class='row'>
    <div class='col-2'>
    </div>
    <div class='col-8 bg-light ticket rounded-lg text-center pb-2'>
      <%= render 'form', user: @user %>
      <div class='d-flex justify-content-center'>
        <%= link_to 'Show', @user, class:'btn btn-warning mx-2' %> 
        <%= link_to 'Back', users_path, class:'btn btn-dark' %>
      </div>
    </div>
    <div class='col-2'>
    </div>
  </div>

</div>
