@import "bootstrap";

.bg-purple {
  background-color: #360b33;
}

.logo-butaca {
  color: #e9e726;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.logo-butaca:hover {
  text-decoration: none;
  color: #e9e726;
}